name: Platform IO CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Install PlatformIO
        run: python -m pip install -U platformio
      - name: Build firmware
        run: pio run
      - name: Archive firmwares
        uses: actions/upload-artifact@v5
        with:
          name: firmwares.zip
          path: .pio/build/*/*.bin
